* {
    font-family: monospace;
    color: rgb(206, 158, 87);
    text-shadow: black 2px 2px;
    font-size: relative;
}

body {
    background-image: url("Tiles.png");
    background-size: 27em;
    background-repeat: repeat;
    background-position: top;
}

h1 {
    text-decoration: underline;
    padding: auto;
    text-align: center;
    text-shadow: black 1px 0 10px;
}

#materialDropdown {
    visibility: hidden;
}

.placeholder {
    color: grey;
}

.box {
    background-color: rgba(43, 43, 43, 0.5);
    border: 1px solid rgb(206, 158, 87);
    border-style: dashed;
    width: 75%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    text-wrap: wrap;
}

.box2 {
    background-color: rgba(43, 43, 43, 0.5);
    border: 1px solid rgb(206, 158, 87);
    border-style: dashed;
    width: 75%;
    height: 10%;
    display: flex;
    justify-content:space-around;
    align-items: left;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 2vh;
}

.box2 > input {
    width: 15%;
}

@media (max-width: 768px) {
  .box2 {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
  }
}

.box3 {
    background-color: rgba(43, 43, 43, 0.5);
    border: 1px solid rgb(206, 158, 87);
    border-style: dashed;
    width: 75%;
    height: 100%;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 2rem;
    font-size: relative;
    text-wrap: wrap;
}

.machines .machineName .machineSelect .speedPS {
    text-align: left;
}

.speedPS {
    color: rgb(202, 125, 10);
}

.description {
    text-align: center;
    color: rgb(206, 158, 87);
    opacity: 100%;
}

.title {
    text-align: center;
    text-decoration: underline;
    text-shadow: black 1px 0 10px;
    font-weight: bold;
    font-size: 20px;
}

input, select, button, option{
    background-color: rgba(97, 97, 97, 0.5);
    color: rgb(216, 216, 216);
}

select option {
    background-color: rgb(53, 53, 53);
}

.box4 {
    background-color: rgba(43, 43, 43, 0.5);
    border: 2px solid rgb(0, 0, 0);
    border-style: solid;
    width: 75%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    margin: auto;
    text-shadow: black 2px 2px;
    text-align: left;
    font-size: relative;
    text-wrap: wrap;
}

.line {
    color: rgb(0, 0, 0);
    border-bottom: 1px dashed rgb(0, 0, 0);
    width: 100%;
    margin: 10px auto;
    background-color: rgb(206, 158, 87);
}
