body {
    background-color: rgb(188, 188, 188);
}
h1 {
    color: black;
    text-decoration: underline;
    padding: auto;
    text-align: center;
}
#materialDropdown {
    visibility: hidden;
}
.placeholder {
    color: grey;
}